@charset "UTF-8";
body {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
}

html {
  font-family: "Lexend", sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .order1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (min-width: 768px) {
  .order2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.switch-down {
  display: none;
}

.fixed {
  position: fixed;
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.3793103448vw;
  }
}
@media (min-width: 1160px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

html.fixed html.fixed body {
  width: 100%;
  height: 100%;
  position: fixed;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
li,
ol {
  padding: 0;
  list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 15px;
  gap: 0 0.9375rem;
}

.breadcrumb_item {
  width: 30px;
  width: 1.875rem;
  height: 30px;
  height: 1.875rem;
  border-radius: 50%;
  background-color: #F6F5F5;
  color: #A7A7A7;
  font-size: 16px;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumb_item img {
  max-width: 13.64px;
  max-width: 0.8525rem;
}

.breadcrumb_item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 0.3125rem;
     -moz-column-gap: 0.3125rem;
          column-gap: 0.3125rem;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 30px;
  row-gap: 1.875rem;
}
@media screen and (min-width: 768px) {
  .card-items {
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
    grid-template-rows: repeat(3, 1fr);
  }
}

.card-item {
  border-radius: 0.370625rem;
  border: 1px solid #EDECEC;
}
@media screen and (min-width: 768px) {
  .card-item {
    border-radius: 0.55375rem;
  }
}

.card-item_content {
  padding: 8.84px 12.04px 8.43px 12.04px;
  padding: 0.5525rem 0.7525rem 0.526875rem 0.7525rem;
  border-radius: 0 0 0.370625rem 0.370625rem;
}
@media screen and (min-width: 768px) {
  .card-item_content {
    padding: 0.75875rem 1.108125rem 0.775625rem 1.108125rem;
    border-radius: 0 0 0.55375rem 0.55375rem;
  }
}
.card-item_content .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 15.69px;
  gap: 0 0.980625rem;
}
@media screen and (min-width: 768px) {
  .card-item_content .top {
    gap: 0 1.385rem;
  }
}
.card-item_content .top .top_img {
  max-width: 30.1px;
  max-width: 1.88125rem;
}
@media screen and (min-width: 768px) {
  .card-item_content .top .top_img {
    max-width: 2.769375rem;
  }
}
.card-item_content .top .top_img p {
  font-size: 8px;
  font-size: 0.5rem;
  font-weight: 300;
  margin-top: 2.41px;
  margin-top: 0.150625rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .card-item_content .top .top_img p {
    margin-top: 0.221875rem;
  }
}
.card-item_content .top .top_name p {
  font-size: 8px;
  font-size: 0.5rem;
  font-weight: 300;
}
.card-item_content .top .top_name h3 {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  margin-top: 1.2px;
  margin-top: 0.075rem;
}
@media screen and (min-width: 768px) {
  .card-item_content .top .top_name h3 {
    font-size: 0.88625rem;
    margin-top: 0.143125rem;
  }
}
.card-item_content .top .top_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4.26px;
  margin-top: 0.26625rem;
}
@media screen and (min-width: 768px) {
  .card-item_content .top .top_number {
    margin-top: 0.649375rem;
  }
}
.card-item_content .top .top_number p {
  font-size: 5.93px;
  font-size: 0.370625rem;
  font-weight: 300;
}
.card-item_content .top .top_number span {
  font-size: 8px;
  font-size: 0.5rem;
  margin-left: 13.85px;
  margin-left: 0.865625rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .card-item_content .top .top_number span {
    margin-left: 1.2925rem;
    font-size: 0.775625rem;
  }
}
.card-item_content .middle {
  margin-top: 4.45px;
  margin-top: 0.278125rem;
  padding-top: 8.43px;
  padding-top: 0.526875rem;
  border-top: 1px solid #EDECEC;
  border-top: 0.0625rem solid #EDECEC;
}
@media screen and (min-width: 768px) {
  .card-item_content .middle {
    margin-top: 0.641875rem;
    padding-top: 0.775625rem;
  }
}
.card-item_content .middle .middle_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 13px;
  padding-left: 0.8125rem;
}
@media screen and (min-width: 768px) {
  .card-item_content .middle .middle_price {
    padding-left: 1.706875rem;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.card-item_content .middle .middle_price p {
  font-size: 8px;
  font-size: 0.5rem;
  font-weight: 300;
}
.card-item_content .middle .middle_price h3 {
  margin-left: 19.62px;
  margin-left: 1.22625rem;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .card-item_content .middle .middle_price h3 {
    font-size: 0.88625rem;
    letter-spacing: 0.1em;
    margin-left: 1.830625rem;
  }
}
.card-item_content .middle .middle_category {
  margin-top: 4.86px;
  margin-top: 0.30375rem;
}
@media screen and (min-width: 768px) {
  .card-item_content .middle .middle_category {
    margin-top: 0.703125rem;
  }
}
.card-item_content .middle .middle_category p {
  font-size: 8px;
  font-size: 0.5rem;
  font-weight: 300;
  text-align: center;
}
.card-item_content .middle .middle_category ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 10px;
  gap: 0 0.625rem;
  margin-top: 3.92px;
  margin-top: 0.245rem;
}
@media screen and (min-width: 768px) {
  .card-item_content .middle .middle_category ul {
    margin-top: 0.58625rem;
  }
}
.card-item_content .middle .middle_category ul li {
  background-color: #70BAFE;
  width: 45px;
  width: 2.8125rem;
  height: 14px;
  height: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 300;
  border-radius: 1.875rem;
}
.card-item_content .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 15px;
  gap: 0 0.9375rem;
  margin-top: 6px;
  margin-top: 0.375rem;
  padding-top: 8.43px;
  padding-top: 0.526875rem;
  border-top: 1px solid #EDECEC;
  border-top: 0.0625rem solid #EDECEC;
}
@media screen and (min-width: 768px) {
  .card-item_content .bottom {
    margin-top: 0.830625rem;
    padding-top: 0.775625rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: initial;
  }
}
.card-item_content .bottom .bottom_tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 5.66px;
  gap: 0 0.35375rem;
}
@media screen and (min-width: 768px) {
  .card-item_content .bottom .bottom_tags {
    gap: 0 0.578125rem;
  }
}
.card-item_content .bottom .bottom_tags p {
  font-size: 5.93px;
  font-size: 0.370625rem;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .card-item_content .bottom .bottom_tags .bottom_tag {
    max-width: 4.25rem;
  }
}
.card-item_content .bottom .bottom_tags .bottom_tag p {
  font-size: 5.93px;
  font-size: 0.370625rem;
  font-weight: 300;
  color: #6A6A6A;
}
.card-item_content .bottom .bottom_btn a {
  font-size: 9.49px;
  font-size: 0.593125rem;
  font-weight: 300;
  background-color: #FF9356;
  min-width: 75.25px;
  min-width: 4.703125rem;
  height: 22.06px;
  height: 1.37875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border-radius: 0.370625rem;
}
@media screen and (min-width: 768px) {
  .card-item_content .bottom .bottom_btn a {
    min-width: 6.924375rem;
    height: 1.661875rem;
    font-size: 0.886875rem;
    border-radius: 0.555625rem;
  }
}

.footer_wrapper {
  background-color: #232328;
  padding-top: 23px;
  padding-top: 1.4375rem;
  padding-bottom: 53px;
  padding-bottom: 3.3125rem;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer_wrapper {
    padding-top: 1.875rem;
  }
}

.footer_inner {
  padding-left: 10px;
  padding-left: 0.625rem;
  padding-right: 10px;
  padding-right: 0.625rem;
}
@media screen and (min-width: 768px) {
  .footer_inner {
    max-width: 72.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer_logo {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 400;
}

.footer-nav {
  margin-top: 25px;
  margin-top: 1.5625rem;
}
@media screen and (min-width: 768px) {
  .footer-nav {
    margin-top: 0;
    margin-top: initial;
  }
}

.footer-nav_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 15px;
  gap: 0 0.9375rem;
}
@media screen and (min-width: 768px) {
  .footer-nav_items {
    gap: 0 4.5625rem;
  }
}

.footer-nav_item {
  letter-spacing: 0.1em;
}
.footer-nav_item h4 {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .footer-nav_item h4 {
    font-size: 0.875rem;
  }
}
.footer-nav_item p {
  margin-top: 14px;
  margin-top: 0.875rem;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .footer-nav_item p {
    font-size: 0.875rem;
    margin-top: 0.6875rem;
  }
}
.footer-nav_item p:nth-child(n+2) {
  margin-top: 8px;
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .footer-nav_item p:nth-child(n+2) {
    margin-top: 0.3125rem;
  }
}

.footer-nav_item_link a {
  margin-top: 14px;
  margin-top: 0.875rem;
  display: block;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .footer-nav_item_link a {
    margin-top: 0.6875rem;
  }
}
.footer-nav_item_link a:nth-child(n+2) {
  margin-top: 8px;
  margin-top: 0.5rem;
}
@media screen and (min-width: 768px) {
  .footer-nav_item_link a:nth-child(n+2) {
    margin-top: 0.3125rem;
  }
}

.header {
  width: 100%;
  height: 80px;
  height: 5rem;
  -webkit-box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, .05);
          box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, .05);
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

.header_wrapper {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 11px;
  padding-left: 0.6875rem;
  padding-right: 30px;
  padding-right: 1.875rem;
}
@media screen and (min-width: 768px) {
  .header_wrapper {
    padding-left: 2.8125rem;
    padding-right: 3.625rem;
  }
}

.header_logo {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}
@media screen and (min-width: 768px) {
  .header_logo {
    font-size: 1.5rem;
  }
}

.header_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 20px;
  gap: 0 1.25rem;
}

.header_item:nth-child(3) .header_item_img {
  width: 27px;
  width: 1.6875rem;
}

.header_item_img {
  width: 22px;
  width: 1.375rem;
  text-align: center;
}
.header_item_img p {
  font-size: 10px;
  font-size: 0.625rem;
  padding-top: 3px;
  padding-top: 0.1875rem;
  font-weight: 300;
  color: #333333;
  margin-left: -3px;
  margin-left: -0.1875rem;
}

.header_item:last-child {
  position: relative;
}
.header_item:last-child::after {
  content: url(/images/common/select.svg);
  position: absolute;
  right: -15px;
  right: -0.9375rem;
  width: 8.64px;
  width: 0.54rem;
  height: 8.64px;
  height: 0.54rem;
}
@media screen and (min-width: 768px) {
  .header_item:last-child::after {
    width: 0.625rem;
    right: -1.5625rem;
  }
}

.header_select {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 300;
  color: #333;
}
@media screen and (min-width: 768px) {
  .header_select {
    font-size: 0.875rem;
  }
}

.header_search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  position: relative;
}

.header_search-form input {
  width: 230px;
  width: 14.375rem;
  height: 40px;
  height: 2.5rem;
  padding: 11px 0 11px 18px;
  padding: 0.6875rem 0 0.6875rem 1.125rem;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-size: 0.875rem;
  outline: none;
}

.header_search-form input::-webkit-input-placeholder {
  color: #6a6a6a;
  font-weight: 300;
}

.header_search-form input::-moz-placeholder {
  color: #6a6a6a;
  font-weight: 300;
}

.header_search-form input::-ms-input-placeholder {
  color: #6a6a6a;
  font-weight: 300;
}

.header_search-form input::placeholder {
  color: #6a6a6a;
  font-weight: 300;
}

.header_search-form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  width: 2.5rem;
  height: 40px;
  height: 2.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 13px;
  right: 0.8125rem;
}

.header_search-form button::after {
  width: 15px;
  width: 0.9375rem;
  height: 15px;
  height: 0.9375rem;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%236a6a6a%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  content: "";
}

.header_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 10px;
  gap: 0 0.625rem;
  background-color: #70BAFE;
  width: 120px;
  width: 7.5rem;
  height: 40px;
  height: 2.5rem;
  color: #fff;
  border-radius: 1.81rem;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
}
.header_login img {
  max-width: 13.12px;
  max-width: 0.82rem;
}

.header_member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 10px;
  gap: 0 0.625rem;
  background-color: #FF9356;
  width: 140px;
  width: 8.75rem;
  height: 40px;
  height: 2.5rem;
  color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 300;
  border-radius: 1.81rem;
}
.header_member img {
  max-width: 18.75px;
  max-width: 1.171875rem;
}

.inner {
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 0.329375rem 0 rgba(0, 0, 0, .1);
          box-shadow: 0 0 0.329375rem 0 rgba(0, 0, 0, .1);
  max-width: 300px;
  max-width: 18.75rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.31875rem;
  padding: 13px 0 14px 0;
  padding: 0.8125rem 0 0.875rem 0;
  font-size: 12px;
  font-size: 0.75rem;
  letter-spacing: 0.01em;
  color: #333;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .page-title {
    max-width: 100%;
    font-size: 1.125rem;
    -webkit-box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, .1);
            box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, .1);
  }
}

.top_inner {
  margin-top: 120px;
  margin-top: 7.5rem;
}
@media screen and (min-width: 768px) {
  .top_inner {
    max-width: 58.125rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.breadcrumb_top {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .breadcrumb_top {
    margin-top: 3.125rem;
  }
}

.card_top {
  margin-top: 27px;
  margin-top: 1.6875rem;
}
@media screen and (min-width: 768px) {
  .card_top {
    margin-top: 2.625rem;
  }
}

.top_footer {
  margin-top: 100px;
  margin-top: 6.25rem;
}
/*# sourceMappingURL=styles.css.map */
